<div class="password-strength">
  <div class="password-strength__header">
    <span class="password-strength__title">Requisitos da senha:</span>
    @if (allMet()) {
      <span class="password-strength__status password-strength__status--success">
        <app-icon name="check-circle" [size]="16" />
        Senha forte
      </span>
    } @else {
      <span class="password-strength__status password-strength__status--warning">
        <app-icon name="alert-circle" [size]="16" />
        Incompleta
      </span>
    }
  </div>
  
  <ul class="password-strength__list">
    @for (req of requirements(); track req.label) {
      <li 
        class="password-strength__item"
        [class.password-strength__item--met]="req.met"
        [class.password-strength__item--unmet]="!req.met"
      >
        <app-icon 
          [name]="req.met ? 'check-circle' : 'x-circle'" 
          [size]="16" 
        />
        {{ req.label }}
      </li>
    }
  </ul>
</div>
